<!-- syntax for opening python code blocks inside jinja templates -->
<!-- uses a base layout for everypage -->
{% extends "layout.html" %}
{% block content %}
    <!-- what is an html article? what are the bootstrap classes `media` and `content-section`? -->
    <article class="media content-section">
        <!-- displays the author of posts image. `url_for` is best practice for linking around the app -->
        <img class="rounded-circle articl-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
        <!-- master div holding each post -->
        <div class="media-body">
            <!-- div holding the author and date posted -->
            <div class="article-metadata">
                <!-- double curlys is how you insert a python variable but it needs to be passed to the render_template func -->
                <!-- `a` is a link, right now just back to the same page -->
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <!-- don't quite know what a small is but appears to be like a small header maybe -->
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                    </div>
                {% endif %}
            </div>
            <!-- post title, h2 is a header I know that, and the title here is a link -->
            <h2 class="article-title">{{ post.title }}</h2>
            <!-- `p` is paragraph, the posts content. probably want just a teaser and the title links to the rest of it-->
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article> 
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- close code blocks explicitly -->
{% endblock content %}